@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
.navbar {
  background-color: transparent;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.navbar.navbar {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #7857fe;
  padding: 10px 0;
}

.navbar > .container {
  padding: 0 15px;
}

/* burger icon */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* toggler border */
.navbar-toggler {
  border: 2px solid #ffffff;
}

/* remove the focus (outline) */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar .navbar-brand {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Fjalla One", sans-serif;
}

.navbar .nav-link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 0;
}

.navbar .nav-link:hover {
  font-weight: 600;
}
